body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  background: url(curtain.jpg);
  background-position: center;
}
h1 {
  font-weight: 100;
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

p {
  margin: 0;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

div.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

div.answer {
  background-color: whitesmoke;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p#answer {
  padding: 20px;
  color: red;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

button, input {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  letter-spacing: 2px;
  transition: .5s font-size;
}

button:hover {
  font-size: 1.3em;
}